@use '../base/sizes';

.aside {
  grid-area: aside;
  background-color: var(--menu-blue-dark);
  color: var(--background-white);
  padding: sizes.$spacing6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: sizes.$spacing5;
}
