@use '../base/sizes';

.aside {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: sizes.$spacing8;
  color: var(--white);
  grid-area: aside;
  background-color: var(--blue-d);
  gap: sizes.$spacing6;
}
