@use '../base/sizes';

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: var(--white);
  padding: sizes.$spacing6;

  &.is-left {
    align-items: flex-start;
  }

  &.is-center {
    align-items: center;
  }
}
