@use '../base/sizes';

.content {
  grid-area: content;
  background-color: var(--grey-l);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: sizes.$spacing7;
  padding: sizes.$spacing7;
}
