@use '../base/sizes';

.content {
  grid-area: content;
  background-color: var(--background-grey-dark);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: sizes.$spacing8;
  padding: sizes.$spacing8;
}
