@use '../base/sizes';
@use '../base/typography';

.site-title {
  @include typography.headline-1;

  margin-bottom: sizes.$spacing7;
}

.card-group {
  display: flex;
  flex-wrap: wrap;
  gap: sizes.$spacing7;
}
