@use '../base/sizes';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: sizes.$spacing6 sizes.$spacing8;
  color: var(--background-black);
  grid-area: header;
  background-color: var(--background-white);
}

.search {
  display: flex;
  align-items: center;
  padding: sizes.$spacing3 sizes.$spacing4;

  &.is-disabled,
  & .search__input:disabled {
    cursor: not-allowed;
    background-color: var(--background-grey-light);
    color: var(--background-grey-dark);
  }
}

.search__input {
  padding: sizes.$spacing3;

  &::placeholder {
    color: var(--background-grey-dark);
  }
}

.user-panel {
  display: flex;
  align-items: center;
  gap: sizes.$spacing5;
}

.user-panel__icon {
  display: flex;
  align-items: center;
  padding: sizes.$spacing2;
  color: var(--background-grey-dark);
  background-color: var(--background-grey-light);
}
