@use '../base/sizes';

.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: sizes.$spacing9 auto;
  grid-auto-rows: sizes.$spacing7 auto;
  grid-template-areas:
    'logo header'
    'aside content';
}
