@use '../base/sizes';

.layout {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: sizes.$spacing22 auto;
  grid-auto-rows: sizes.$spacing11 auto;
  grid-template-areas:
    'logo header'
    'aside content';
}
