@use '../base/sizes';
@use '../base/typography';
@use '../generic/button';

.logo {
  grid-area: logo;
  padding: sizes.$spacing8;
  background-color: var(--blue-m);
}

.logo__button {
  @include typography.bold-text;
  @include button.button-color(var(--white), var(--blue-d));

  justify-content: flex-start;
  gap: sizes.$spacing5;
  text-transform: uppercase;
}
