@use '../base/sizes';
@use '../base/typography';

.logo {
  @include typography.bold-text;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: sizes.$spacing8;
  color: var(--background-white);
  grid-area: logo;
  background-color: var(--menu-blue-light);
  gap: sizes.$spacing5;
  text-transform: uppercase;
}
