@use '../base/sizes';

.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
  grid-area: nav;
  padding: sizes.$spacing7;
  background: linear-gradient(to bottom, var(--lightblue), var(--mint), var(--cyan));
  box-shadow:
    0 sizes.$spacing4 sizes.$spacing8 var(--black-10),
    inset 0 sizes.$spacing1 sizes.$spacing1 var(--white-60);
}

.nav__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: sizes.$spacing5;
  width: 100%;
  padding: sizes.$spacing6;
  border-bottom: sizes.$spacing1 solid var(--transparent);

  &:visited {
    .icon,
    .label {
      text-decoration: none;
    }
  }

  &:hover,
  &:active,
  &:focus,
  &.is-active {
    color: var(--white);
    border-radius: sizes.$spacing6;
    text-decoration: none;
    background-color: var(--black-35);
    border-color: var(--lightblue);
  }
}
