@use '../base/sizes';
@use '../base/typography';

.site-title {
  @include typography.headline-1;

  margin-bottom: sizes.$spacing4;
}

.site-subtitle {
  @include typography.headline-3;

  color: var(--gray);
  margin-bottom: sizes.$spacing8;
}
