# Compiled output
/dist

# Node
/node_modules
npm-debug.log

# IDEs and editors
.idea/

# Visual Studio Code
.vscode/

# Miscellaneous
/.angular/cache
.sass-cache/

# System files
.DS_Store
Thumbs.db
