@use '../base/sizes';

@mixin button-color($color, $hover-color) {
  color: $color;

  &:hover {
    & .button__label {
      text-decoration-color: $hover-color;
    }

    & .button__icon {
      color: $hover-color;
    }
  }
}

.button {
  display: flex;
  align-items: center;
  gap: sizes.$spacing5;

  &:hover {
    & .button__label {
      text-decoration: underline;
      text-underline-offset: sizes.$spacing2;
      text-decoration-thickness: sizes.$spacing2;
    }
  }
}
