@use '../base/typography';

.headline {
  text-transform: uppercase;

  &.is-left {
    text-align: left;
  }

  &.is-center {
    text-align: center;
  }
}

.headline__title {
  @include typography.headline-3;

  font-weight: 500;

  &.is-mint-m {
    color: var(--mint-m);
  }

  &.is-blue-m {
    color: var(--blue-d);
  }

  &.is-grey-d {
    color: var(--grey-d);
  }
}

.headline__subtitle {
  @include typography.headline-4;

  font-weight: 500;

  &.is-grey-md {
    color: var(--grey-md);
  }
}
