<sod-layout>
  <sod-logo></sod-logo>
  <sod-header></sod-header>

  <sod-aside>
    <sod-aside-entry [iconName]="'person'" [filled]="true"></sod-aside-entry>
    <sod-aside-entry [iconName]="'house'"></sod-aside-entry>
    <sod-aside-entry [iconName]="'list'"></sod-aside-entry>
    <sod-aside-entry [iconName]="'calendar_month'"></sod-aside-entry>
    <sod-aside-entry [iconName]="'mail'"></sod-aside-entry>
    <sod-aside-entry [iconName]="'book_2'" [filled]="true"></sod-aside-entry>
    <sod-aside-entry [iconName]="'settings'" [filled]="true"></sod-aside-entry>
  </sod-aside>

  <sod-content>
    <sod-card-row>
      <sod-card></sod-card>
      <sod-card></sod-card>
      <sod-card></sod-card>
      <sod-card></sod-card>
    </sod-card-row>

    <sod-card-row>
      <sod-card></sod-card>
      <sod-card></sod-card>
    </sod-card-row>

    <sod-card-row>
      <sod-card></sod-card>
      <sod-card></sod-card>
      <sod-card></sod-card>
      <sod-card></sod-card>
    </sod-card-row>
  </sod-content>
</sod-layout>
