<sod-layout>
  <sod-logo></sod-logo>
  <sod-header></sod-header>

  <sod-aside>
    <sod-aside-entry [iconName]="'person'" [filled]="true"></sod-aside-entry>
    <sod-aside-entry [iconName]="'house'"></sod-aside-entry>
    <sod-aside-entry [iconName]="'list'"></sod-aside-entry>
    <sod-aside-entry [iconName]="'calendar_month'"></sod-aside-entry>
    <sod-aside-entry [iconName]="'mail'"></sod-aside-entry>
    <sod-aside-entry [iconName]="'book_2'" [filled]="true"></sod-aside-entry>
    <sod-aside-entry [iconName]="'settings'" [filled]="true"></sod-aside-entry>
  </sod-aside>

  <sod-content>
    <sod-card-row>
      <sod-card [titleColor]="'mint'" [alignment]="'center'">
        <p sodText>87%</p>
      </sod-card>
      <sod-card [titleColor]="'blue'" [alignment]="'center'">
        <p sodText>1,503</p>
      </sod-card>
      <sod-card [titleColor]="'blue'" [alignment]="'center'">
        <p sodText>2,450</p>
      </sod-card>
      <sod-card [titleColor]="'blue'" [alignment]="'center'">
        <p sodText>4,220</p>
      </sod-card>
    </sod-card-row>

    <sod-card-row>
      <sod-card [titleColor]="'mint'" [alignment]="'center'"></sod-card>
      <sod-card [title]="''" [subtitle]="''">75%</sod-card>
    </sod-card-row>

    <sod-card-row>
      <sod-card [titleColor]="'blue'" [alignment]="'left'">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </sod-card>
      <sod-card [titleColor]="'mint'" [alignment]="'left'">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </sod-card>
      <sod-card [titleColor]="'blue'" [alignment]="'left'">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </sod-card>
      <sod-card [titleColor]="'grey'" [alignment]="'left'">
        <p>
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
          invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
        </p>
      </sod-card>
    </sod-card-row>
  </sod-content>
</sod-layout>
