<sod-site-title [title]="'Aktuelles Wetter'" [subtitle]="$time().value"></sod-site-title>

<div class="current-card-group">
  <sod-current-card
    [color]="'yellow'"
    [title]="$apparentTemperature().label"
    [values]="[$apparentTemperature().value, $apparentTemperature().unit]"
    [subtitles]="[$temperature().value, $temperature().unit]"
  ></sod-current-card>

  <sod-current-card
    [color]="'orange'"
    [title]="$weatherCode().label"
    [values]="[$weatherCode().value]"
  ></sod-current-card>

  <sod-current-card
    [color]="'lightblue'"
    [title]="$precipitationProbability().label"
    [values]="[$precipitationProbability().value, $precipitationProbability().unit]"
    [subtitles]="[$precipitation().label, $precipitation().value, $precipitation().unit]"
  ></sod-current-card>

  <sod-current-card
    [color]="'darkblue'"
    [title]="$windSpeed().label"
    [values]="[$windSpeed().value, $windSpeed().unit]"
    [subtitles]="[
      $windGusts().label,
      $windGusts().value,
      $windGusts().unit,
      $windDirection().value,
      $windDirection().unit
    ]"
  ></sod-current-card>

  <sod-current-card
    [color]="'lightblue'"
    [title]="$humidity().label"
    [values]="[$humidity().value, $humidity().unit]"
  ></sod-current-card>

  <sod-current-card
    [color]="'violet'"
    [title]="$pressure().label"
    [values]="[$pressure().value, $pressure().unit]"
  ></sod-current-card>

  <sod-current-card
    [color]="'green'"
    [hasSmallValueText]="true"
    [title]="getCloudCoverLabel($cloudCoverLow(), true)"
    [values]="[
      getCloudCoverLabel($cloudCoverLow()),
      $cloudCoverLow().value,
      $cloudCoverLow().unit,
      getCloudCoverLabel($cloudCoverMid()),
      $cloudCoverMid().value,
      $cloudCoverMid().unit,
      getCloudCoverLabel($cloudCoverHigh()),
      $cloudCoverHigh().value,
      $cloudCoverHigh().unit
    ]"
  ></sod-current-card>

  <sod-current-card
    [color]="'violet'"
    [title]="$uvIndex().label"
    [values]="[$uvIndex().value]"
    [subtitles]="[$visibility().label, $visibility().value, $visibility().unit]"
  ></sod-current-card>
</div>
