:root {
  --accent-blue-light: #81f4ff;
  --accent-blue-medium: #4ca0de;
  --accent-blue-dark: #1249bd;
  --accent-green-light: #95f8b5;
  --accent-green-medium: #53d4d0;
  --accent-green-dark: #0fb7e4;
  --menu-blue-light: #3583ff;
  --menu-blue-dark: #022ab0;
  --grey-light: #d9e5fb;
  --grey-dark: #b0c4e5;
  --white: #fff;
  --black: #000;
}
