// Color Specific:
//  - Light: l
//  - Medium-Light: lm
//  - Medium: m
//  - Medium-dark: md
//  - Dark: d

:root {
  --blue-l: #81f4ff;
  --blue-lm: #4ca0de;
  --blue-m: #3583ff;
  --blue-md: #1249bd;
  --blue-d: #022ab0;
  --mint-l: #95f8b5;
  --mint-m: #53d4d0;
  --mint-d: #0fb7e4;
  --grey-l: #d9e5fb;
  --grey-lm: #b0c4e5;
  --grey-md: #646464;
  --grey-d: #323232;
  --white: #fff;
  --black: #000;
}
